body {
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    animation: fadeIn 1s;
    text-align: center;
}

h1 {
    color: #ffcc00;
}

p {
    color: #ccc;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
    }

    .container {
        background-color: black;
    }

    h1 {
        color: #ffcc00;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
